In [1]:
import pandas as pd

In [4]:
dünya=pd.read_csv("dünya.csv")
dünya.head()

        Ülke     Gelir     Nüfus  Kişi Başına           KITA
0        ABD  20410000   323,766        63039  Kuzey Amerika
1        Çin  14090000  1415,045         9957           Asya
2    Japonya   5170000   127,185        40649           Asya
3    Almanya   4210000    82,293        51158         Avrupa
4  İngiltere   2940000    66,573        44162         Avrupa

In [8]:
dünya[["Ülke"]].head(5)

        Ülke
0        ABD
1        Çin
2    Japonya
3    Almanya
4  İngiltere

In [10]:
dünya[["Ülke","KITA"]].head(5)

        Ülke           KITA
0        ABD  Kuzey Amerika
1        Çin           Asya
2    Japonya           Asya
3    Almanya         Avrupa
4  İngiltere         Avrupa

In [22]:
dünya["Sıralama"]= "tpo 20"
dünya

,Ülke,Gelir,Gelir Düzeyi,Nüfus,Kişi Başına,KITA,Sıralama
0,ABD,20410000,Yüksek Gelir,"323,766",63039,Kuzey Amerika,tpo 20
1,Çin,14090000,Yüksek Gelir,"1415,045",9957,Asya,tpo 20
2,Japonya,5170000,Yüksek Gelir,"127,185",40649,Asya,tpo 20
3,Almanya,4210000,Yüksek Gelir,"82,293",51158,Avrupa,tpo 20
4,İngiltere,2940000,Yüksek Gelir,"66,573",44162,Avrupa,tpo 20
5,Fransa,2930000,Yüksek Gelir,"65,233",44915,Avrupa,tpo 20
6,Hindistan,2850000,Yüksek Gelir,"1354,051",2104,Asya,tpo 20
7,İtalya,2180000,Yüksek Gelir,"59,29",36768,Avrupa,tpo 20
8,Brezilya,2140000,Yüksek Gelir,"210,867",10148,Güney Amerika,tpo 20
9,Kanada,1800000,Yüksek Gelir,"36,953",48710,Kuzey Amerika,tpo 20
10,Rusya,1720000,Yüksek Gelir,"143,967",11947,Avrupa,tpo 20
11,GÜney Kore,1690000,Yüksek Gelir,"51,164",33031,Asya,tpo 20
12,İspanya,1510000,Yüksek Gelir,"46,397",32545,Avrupa,tpo 20
13,Avusturalya,1500000,Yüksek Gelir,"24,772",60552,Okyanusya,tpo 20
14,Meksika,1210000,Yüksek Gelir,"130,759",9253,Kuzey Amerika,tpo 20
15,Endonezya,1070000,Yüksek Gelir,"266,794",4010,Asya,tpo 20
16,Hollanda,945000,Yüksek Gelir,"17,084",55314,Avrupa,tpo 20
17,Türkiye,910000,Yüksek Gelir,"81,916",11108,Asya,tpo 20
18,Suudi Arabistan,748000,Yüksek Gelir,"33,554",22292,Asya,tpo 20
19,İsviçre,741000,Yüksek Gelir,"8,554",86626,Avrupa,tpo 20

In [30]:
dünya.insert(2,'Dünya Geliri','YÜKSEK')
dünya

,Ülke,Gelir,Dünya Geliri,Gelir Düzeyi,Nüfus,Kişi Başına,KITA,Sıralama
0,ABD,20410000,YÜKSEK,Yüksek Gelir,"323,766",63039,Kuzey Amerika,tpo 20
1,Çin,14090000,YÜKSEK,Yüksek Gelir,"1415,045",9957,Asya,tpo 20
2,Japonya,5170000,YÜKSEK,Yüksek Gelir,"127,185",40649,Asya,tpo 20
3,Almanya,4210000,YÜKSEK,Yüksek Gelir,"82,293",51158,Avrupa,tpo 20
4,İngiltere,2940000,YÜKSEK,Yüksek Gelir,"66,573",44162,Avrupa,tpo 20
5,Fransa,2930000,YÜKSEK,Yüksek Gelir,"65,233",44915,Avrupa,tpo 20
6,Hindistan,2850000,YÜKSEK,Yüksek Gelir,"1354,051",2104,Asya,tpo 20
7,İtalya,2180000,YÜKSEK,Yüksek Gelir,"59,29",36768,Avrupa,tpo 20
8,Brezilya,2140000,YÜKSEK,Yüksek Gelir,"210,867",10148,Güney Amerika,tpo 20
9,Kanada,1800000,YÜKSEK,Yüksek Gelir,"36,953",48710,Kuzey Amerika,tpo 20
10,Rusya,1720000,YÜKSEK,Yüksek Gelir,"143,967",11947,Avrupa,tpo 20
11,GÜney Kore,1690000,YÜKSEK,Yüksek Gelir,"51,164",33031,Asya,tpo 20
12,İspanya,1510000,YÜKSEK,Yüksek Gelir,"46,397",32545,Avrupa,tpo 20
13,Avusturalya,1500000,YÜKSEK,Yüksek Gelir,"24,772",60552,Okyanusya,tpo 20
14,Meksika,1210000,YÜKSEK,Yüksek Gelir,"130,759",9253,Kuzey Amerika,tpo 20
15,Endonezya,1070000,YÜKSEK,Yüksek Gelir,"266,794",4010,Asya,tpo 20
16,Hollanda,945000,YÜKSEK,Yüksek Gelir,"17,084",55314,Avrupa,tpo 20
17,Türkiye,910000,YÜKSEK,Yüksek Gelir,"81,916",11108,Asya,tpo 20
18,Suudi Arabistan,748000,YÜKSEK,Yüksek Gelir,"33,554",22292,Asya,tpo 20
19,İsviçre,741000,YÜKSEK,Yüksek Gelir,"8,554",86626,Avrupa,tpo 20

In [33]:
dünya["Gelir"]/1000000

0     20.410
1     14.090
2      5.170
3      4.210
4      2.940
5      2.930
6      2.850
7      2.180
8      2.140
9      1.800
10     1.720
11     1.690
12     1.510
13     1.500
14     1.210
15     1.070
16     0.945
17     0.910
18     0.748
19     0.741
Name: Gelir, dtype: float64

In [34]:
dünya["Gelir"]=dünya["Gelir"]/1000000
dünya

,Ülke,Gelir,Dünya Geliri,Gelir Düzeyi,Nüfus,Kişi Başına,KITA,Sıralama
0,ABD,20.410,YÜKSEK,Yüksek Gelir,"323,766",63039,Kuzey Amerika,tpo 20
1,Çin,14.090,YÜKSEK,Yüksek Gelir,"1415,045",9957,Asya,tpo 20
2,Japonya,5.170,YÜKSEK,Yüksek Gelir,"127,185",40649,Asya,tpo 20
3,Almanya,4.210,YÜKSEK,Yüksek Gelir,"82,293",51158,Avrupa,tpo 20
4,İngiltere,2.940,YÜKSEK,Yüksek Gelir,"66,573",44162,Avrupa,tpo 20
5,Fransa,2.930,YÜKSEK,Yüksek Gelir,"65,233",44915,Avrupa,tpo 20
6,Hindistan,2.850,YÜKSEK,Yüksek Gelir,"1354,051",2104,Asya,tpo 20
7,İtalya,2.180,YÜKSEK,Yüksek Gelir,"59,29",36768,Avrupa,tpo 20
8,Brezilya,2.140,YÜKSEK,Yüksek Gelir,"210,867",10148,Güney Amerika,tpo 20
9,Kanada,1.800,YÜKSEK,Yüksek Gelir,"36,953",48710,Kuzey Amerika,tpo 20
10,Rusya,1.720,YÜKSEK,Yüksek Gelir,"143,967",11947,Avrupa,tpo 20
11,GÜney Kore,1.690,YÜKSEK,Yüksek Gelir,"51,164",33031,Asya,tpo 20
12,İspanya,1.510,YÜKSEK,Yüksek Gelir,"46,397",32545,Avrupa,tpo 20
13,Avusturalya,1.500,YÜKSEK,Yüksek Gelir,"24,772",60552,Okyanusya,tpo 20
14,Meksika,1.210,YÜKSEK,Yüksek Gelir,"130,759",9253,Kuzey Amerika,tpo 20
15,Endonezya,1.070,YÜKSEK,Yüksek Gelir,"266,794",4010,Asya,tpo 20
16,Hollanda,0.945,YÜKSEK,Yüksek Gelir,"17,084",55314,Avrupa,tpo 20
17,Türkiye,0.910,YÜKSEK,Yüksek Gelir,"81,916",11108,Asya,tpo 20
18,Suudi Arabistan,0.748,YÜKSEK,Yüksek Gelir,"33,554",22292,Asya,tpo 20
19,İsviçre,0.741,YÜKSEK,Yüksek Gelir,"8,554",86626,Avrupa,tpo 20

In [39]:
dünya["Gelir Türk Lirası"]=dünya["Gelir"]*5.74
dünya

,Ülke,Gelir,Dünya Geliri,Gelir Düzeyi,Nüfus,Kişi Başına,KITA,Sıralama,gelir türk lirası,Gelir Türk Lirası
0,ABD,20.410,YÜKSEK,Yüksek Gelir,"323,766",63039,Kuzey Amerika,tpo 20,117.15340,117.15340
1,Çin,14.090,YÜKSEK,Yüksek Gelir,"1415,045",9957,Asya,tpo 20,80.87660,80.87660
2,Japonya,5.170,YÜKSEK,Yüksek Gelir,"127,185",40649,Asya,tpo 20,29.67580,29.67580
3,Almanya,4.210,YÜKSEK,Yüksek Gelir,"82,293",51158,Avrupa,tpo 20,24.16540,24.16540
4,İngiltere,2.940,YÜKSEK,Yüksek Gelir,"66,573",44162,Avrupa,tpo 20,16.87560,16.87560
5,Fransa,2.930,YÜKSEK,Yüksek Gelir,"65,233",44915,Avrupa,tpo 20,16.81820,16.81820
6,Hindistan,2.850,YÜKSEK,Yüksek Gelir,"1354,051",2104,Asya,tpo 20,16.35900,16.35900
7,İtalya,2.180,YÜKSEK,Yüksek Gelir,"59,29",36768,Avrupa,tpo 20,12.51320,12.51320
8,Brezilya,2.140,YÜKSEK,Yüksek Gelir,"210,867",10148,Güney Amerika,tpo 20,12.28360,12.28360
9,Kanada,1.800,YÜKSEK,Yüksek Gelir,"36,953",48710,Kuzey Amerika,tpo 20,10.33200,10.33200
10,Rusya,1.720,YÜKSEK,Yüksek Gelir,"143,967",11947,Avrupa,tpo 20,9.87280,9.87280
11,GÜney Kore,1.690,YÜKSEK,Yüksek Gelir,"51,164",33031,Asya,tpo 20,9.70060,9.70060
12,İspanya,1.510,YÜKSEK,Yüksek Gelir,"46,397",32545,Avrupa,tpo 20,8.66740,8.66740
13,Avusturalya,1.500,YÜKSEK,Yüksek Gelir,"24,772",60552,Okyanusya,tpo 20,8.61000,8.61000
14,Meksika,1.210,YÜKSEK,Yüksek Gelir,"130,759",9253,Kuzey Amerika,tpo 20,6.94540,6.94540
15,Endonezya,1.070,YÜKSEK,Yüksek Gelir,"266,794",4010,Asya,tpo 20,6.14180,6.14180
16,Hollanda,0.945,YÜKSEK,Yüksek Gelir,"17,084",55314,Avrupa,tpo 20,5.42430,5.42430
17,Türkiye,0.910,YÜKSEK,Yüksek Gelir,"81,916",11108,Asya,tpo 20,5.22340,5.22340
18,Suudi Arabistan,0.748,YÜKSEK,Yüksek Gelir,"33,554",22292,Asya,tpo 20,4.29352,4.29352
19,İsviçre,0.741,YÜKSEK,Yüksek Gelir,"8,554",86626,Avrupa,tpo 20,4.25334,4.25334

In [42]:
dünya["KITA"]

0     Kuzey Amerika
1              Asya
2              Asya
3            Avrupa
4            Avrupa
5            Avrupa
6              Asya
7            Avrupa
8     Güney Amerika
9     Kuzey Amerika
10           Avrupa
11             Asya
12           Avrupa
13        Okyanusya
14    Kuzey Amerika
15             Asya
16           Avrupa
17             Asya
18             Asya
19           Avrupa
Name: KITA, dtype: object

In [43]:
dünya["KITA"].value_counts()

Avrupa           8
Asya             7
Kuzey Amerika    3
Okyanusya        1
Güney Amerika    1
Name: KITA, dtype: int64